donor.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="bloodbank">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="donor">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
							<xs:element name="bg" type="xs:string" />
							<xs:element name="phone" type="xs:unsignedLong" />
							<xs:element name="location" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="did" type="xs:unsignedShort" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>